<%= render partial: 'layouts/header' %>

<div class="container px-5 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Index</h2>

    <div class="row row-cols-1 row-cols-lg-2 align-items-stretch g-5 py-5">
    
      <div class="col">
      <%= link_to reports_path do %>
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://thumb.photo-ac.com/24/245ae6d20e99517f0c763af934194dca_t.jpeg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Daily Report</h3>
          </div>
        </div>
        <% end %>
      </div>

      <div class="col">
      <%= link_to calendars_path do %>
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://thumb.photo-ac.com/64/642e79fa9495c30d9f1519dbfa740e7c_t.jpeg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Calendar</h3>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

<%= render partial: 'layouts/footer' %>